body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #D8D8D8;
}

h2 {
    font-size: 2em;
}
.quem-somos { 
    background-color: rgb(192, 142, 240);   
    padding: 30px;
}

#img-side1 {
    margin: 30px;    
}

.parceiros {
    background-color: #D8D8D8;
    padding: 30px;
}

.servicos {
    background-color: #F781F3;
    padding: 30px;
}

p {
    text-align: justify;
}

.bg-footer {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 10px;    
}

